canvas {
    background-color: black;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(img/desert_startscreen.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.start-screen {
    position: absolute;
    width: 720px;
    height: 480px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-screen:fullscreen {
    width: 100%;
    height: 100%;
}

.start-screen img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}

.play-btn {
    padding: 15px;
    font-size: 32px;
    margin-top: 400px;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}

.play-btn:hover {
    background-color: #FF8C00;
    transform: scale(1.1);
}

.d-none {
    display: none;
}

.game-canvas-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-btn {
    position: absolute;
    right: 4px;
    bottom: 8px;
    border: unset;
    color: white;
    background-color: transparent;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 32px;
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
       height: 100vh;
    }
}